*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/firebender/chat_history.db
.idea/firebender/chat_history.db-shm
.idea/firebender/chat_history.db-wal
.idea/misc.xml
.idea/.name
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/planningMode.xml
.idea/git_toolbox_prj.xml
.idea/ktlint-plugin.xml
